body {
    background-color: #101918;
    color: #9bfff4;
}

p {
    font-size: 20px;
    max-width: 800px;
    margin-left: calc(50% - 400px);
}

#lore{
    text-align: center;
}

a {
    color: #9bfff4;
}

.left{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.card{
    position: relative;
    width: 800px;
    height: 800px;
    margin-left: calc(50% - 400px);
}